{% set mobileOrientation = mobileOrientation ?: 'center' %}
{% set aspectRatio = aspectRatio ?: '4/3' %}


<div style="position: relative">
	<img style="aspect-ratio: {{aspectRatio}}; object-orientation: {{mobileOrientation}}" src={{get_featured_image()[0]}} />
	{% if overlayColor %}
		<div style="
			content:'';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			background-color: {{ get_color_by_slug(overlayColor)['color'] }};
			opacity: {{ dimRatio }}%
		">	
		</div>
	{% endif %}
	
</div>