
{% set id = random(1000, 9000) %}

<li class="accordion-item relative">
    <a class="w-full px-8 py-6 text-left" @click="selected !== {{id}} ? selected = {{id}} : selected = null">
    <div class="flex items-center justify-between">
        <span>
            {{ title }}
        </span>
        <span class="ico-plus"></span>
    </div>
    </a>
    <div class="relative overflow-hidden transition-all max-h-0 duration-700" x-ref="container{{id}}" x-bind:style="selected == {{id}} ? 'max-height: ' + $refs.container{{id}}.scrollHeight + 'px' : ''">
        <div class="p-6">
            <p>{{ content|raw }}</p>
        </div>
    </div>
</li>