{% set bg = get_color_by_slug(alertColor) %}

<div x-data="{alert: true}" x-show="alert" style="background: {{bg.color}};" class="{{bg.brightness}}  alert">
{{ isDismissable ? "<i class='close' @click='alert = false'>close</i>" }}
    {% if title %}<h3 class="core-block">{{title}}</h3>{% endif %}
    {% if alertText %}<p class="core-block">{{alertText}}</p>{% endif %}
</div>