{% set bg = get_color_by_slug(alertColor) %}

<div x-data="{alert: true}" x-show="alert" style="background: {{bg.color}};" class="{{bg.brightness}}  alert">
{{ isDismissable ? "<i class='alert__close' @click='alert = false'>close</i>" }}
    {% if title %}<h3 class="alert__title">{{title}}</h3>{% endif %}
    {% if alertText %}<p class="alert__text">{{alertText}}</p>{% endif %}
</div>