{#
# Alert Block template	 
#
# Attributes
#
# string	alertColor
# string	alertText
# string	title
# bool		isDismissable
#
#}

{% set bg = get_color_by_slug(alertColor) %}

<div style="background: {{bg.color}};" class="{{bg.light ? 'light' : 'dark'}}  alert {{ isDismissable ? 'alert--dismissable'}}">
{{ isDismissable ? "<i class='alert__close' @click='alert = false'>close</i>" }}
    {% if title %}<h3 class="alert__title">{{title}}</h3>{% endif %}
    {% if alertText %}<p class="alert__text">{{alertText}}</p>{% endif %}
</div>