{% if outline %}
<a class="bg-{{buttonColor}}-500 hover:bg-{{buttonColor}}-300 rounded-tl-sm rounded-br-lg" href="">{{title}}</a>
{% else %}
<a class="bg-{{buttonColor}}-500 hover:bg-{{buttonColor}}-300 rounded-tl-sm rounded-br-lg" href="">{{title}}</a>
{% endif %}