{% set bg = get_color_by_slug(buttonColor) %}

<div class="mt-auto text-{{buttonAlignment}} py-4">
{% if outline %}
<a style="border-color: {{bg.color}}; color: {{bg.color}};" 
    onmouseover="this.style.backgroundColor='{{bg.color}}';"
    onmouseout="this.style.backgroundColor='transparent'"
    class="outline {{bg.brightness}} button bg-transparent hover:text-{{buttonColor}}-contrast
    {{ size == "small" ? "button-sm" }}
    {{ size == "large" ? "button-lg" }} 
" href="{{url}}">{{title}}</a>
{% elseif isLink %}
<a style="color: {{bg.color}}" class="button bg-none
    {{ size == "small" ? "button-sm" }}
    {{ size == "large" ? "button-lg" }} 
" href="{{url}}">{{title}}</a>
{% else %}
<a style="background: {{bg.color}}; border-color: {{bg.color}};" class="{{bg.brightness}} button
    {{ size == "small" ? "button-sm" }}
    {{ size == "large" ? "button-lg" }} 
" href="{{url}}">{{title}}</a>
{% endif %}
</div>