{#
# Button Block template	 
#
# Attributes
#
# string	title
# string	buttonColor
# string	size				small, medium, large
# string	url
# bool		outline
# string	icon
# bool		iconRight
# bool		isLink
# bool		fullWidth
# bool		modalFull
# string	modalTitle
# bool		hasModal
#
#}

{% set bg = get_color_by_slug(buttonColor) %}

<div>
    <a  
        {% if hasModal %}data-modal="{{id}}"{% endif %}
        class="{% if hasModal %}has-modal{% endif %} button {{ isLink ? "button--link" }} {{ outline ? "button--outline" }} {{ iconRight ? "button--reverse" }} {{ size == "small" ? "button--small" }} {{ size == "large" ? "button-large" }}"
        style="color: {{ isLink or outline ? bg.color : (bg.light ? "#000000" : "#ffffff" ) }}; background: {{ isLink or outline ? "transparent" : bg.color }}; box-shadow: {{ outline ? "inset 0px 0px 0px 2px " ~ bg.color : "none" }};"
        href="{{ hasModal ? "#/" : url }}"
    >
    {% if icon %}<i class="material-icons">{{icon}}</i>{% endif %}{{title}}
    </a>
</div>