{#
# Card Block template	 
#
# Attributes
#
# string	backgroundColor
# string	secondaryColor
# bool		transparent
# bool		shadow
# bool		hover
# string	url
# string	textAlign		[left, center, right]
# object	image
# bool		isLast
# bool		isFirst
# string	imagePosition	[top, left, right, bottom, full]
# string	label
# string	badge
#
#}

{% set bg = get_color_by_slug(backgroundColor ?? "white", customBackgroundColor) %}
{% set secondary = get_color_by_slug(secondaryColor, customSecondaryColor) %}

{% set classList = [
	"card",
	imageId ? 'card--image-' ~ imagePosition : 'card--no-image',
	shadow ? 'card--shadow',
	isFirst ? "card--first",
	isLast ? "card--last",
	url ? "card--hover",
	"card--" ~ textAlign,
]|join(" ") %}

<div style="{{style}} background-color: {{bg.color}}" class="{{classList}} {{className}}" id={{anchor}}>
	

    {% if badge %}<b class="card__badge" style="background: {{secondary.color}}; color: {{ secondary.light ? "#000" : "#fff"	}}">{{ badge }}</b>{% endif %}
	{% if imageId %}
	<div class="card__image">
    {{ get_respsonsive_image(imageId, "medium")}}
	{% if url %}<a class="card__hidden-link" href={{url}}></a>{% endif %}
    </div>  
	{% endif %}
   
    <div class="card__content">
		{% if url %}<a class="card__hidden-link" href={{url}}></a>{% endif %}
        {% if label %}<span class="card__label" style="background: {{secondary.color}}; color: {{ secondary.light ? "#000" : "#fff"	}}"><span>{{ label }}</span></span>{% endif %}
        {{content|raw}}
    </div>
</div>