{% set bg = get_color_by_slug(backgroundColor) %}

<{{ url ? "a href='" ~ url ~ "'" : "div"}} style="background: {{bg.color}}{{transparent ? "aa"}}"
class="card {{bg.brightness}} image-{{imagePosition}} items-{{textAlign}} text-{{textAlign}} {{ isFirst ? "first "}} {{ isLast ? "last"}} {{transparent ? " bg-blur"}} {{hover ? "hover"}}">

    {% if image.url %}
        {% if image.subtype == 'svg+xml' %}
            <div style="height: {{imageWidth}}%; width: {{imageWidth}}%;" 
                 class="{{ imageRound ? "rounded-full overflow-hidden m-4 lg:m-6"}} 
                    {{imagePosition == "top" ? "mb-0"}} 
                    {{imagePosition == "bottom" ? "mt-0"}} 
                    {{imagePosition == "left" ? "mb-4 lg:m-6 mr-0"}} 
                    {{imagePosition == "right" ? "mt-4 lg:m-6 ml-0"}} 
            ">
                {{ source(function('wp_get_original_image_path', image.id), ignore_missing = true) }}
            </div>
        {% else %}
                <img class="card-image" src="{{image.sizes.medium.url}}">
        {% endif %}
    {% endif %}
    <span></span>
    <div class="card-content">{{content|raw}}</div>

{{ url ? "</a>" : "</div>"}}