{#
# Card Block template	 
#
# Attributes
#
# string	backgroundColor
# string	secondaryColor
# bool		transparent
# bool		shadow
# bool		hover
# string	url
# string	textAlign		[left, center, right]
# object	image
# bool		isLast
# bool		isFirst
# string	imagePosition	[top, left, right, bottom, full]
# string	label
# string	badge
#
#}

{% set bg = get_color_by_slug(backgroundColor) %}
{% set secondary = get_color_by_slug(secondaryColor) %}

<{{ url ? "a href='" ~ url ~ "'" : "div"}} {{bg.light ? "light" : "dark" }} style="background: var(--{{backgroundColor}}); color: var(--{{backgroundColor}}-contrast);"
    class="
        card 
        {{ image.url ? 'card--image-' ~ imagePosition : 'card--no-image'}} 
        {{ shadow ? 'card--shadow' }} 
        {{ isFirst ? "card--first "}} 
        {{ isLast ? "card--last"}} {{transparent ? " card--blur"}} 
        {{ url or hover ? "card--hover"}}
		{{ "card--" ~ textAlign }}
		{{ bg.light ? "light" : "dark" }}"
    >
    {% if badge %}<b class="card__badge" style="background: var(--{{secondaryColor}}); color: var(--{{secondaryColor}}-contrast)">{{ badge }}</b>{% endif %}
    {% if image.url %}
        {% if image.subtype == 'svg+xml' %}
            <div class="card__svg" style="height: {{imageWidth}}%; width: {{imageWidth}}%;" >
                {{ source(function('wp_get_original_image_path', image.id), ignore_missing = true) }}
            </div>
        {% else %}
            <div class="card__image">
                <img loading="lazy" src="{{image.sizes.large.url}}" alt="{{image.description ?: image.title}}">
            </div>
        {% endif %}
    {% endif %}
   
    <div class="card__content">
        {% if label %}<span class="card__label" style="background: var(--{{secondaryColor}}); color: var(--{{secondaryColor}}-contrast)"><span>{{ label }}</span></span>{% endif %}
        {{content|raw}}
    </div>
{{ url ? "</a>" : "</div>"}}