{#
# Card Block template	 
#
# Attributes
#
# string	backgroundColor
# string	secondaryColor
# bool		transparent
# bool		shadow
# bool		hover
# string	url
# string	textAlign		[left, center, right]
# object	image
# bool		isLast
# bool		isFirst
# string	imagePosition	[top, left, right, bottom, full]
# string	label
# string	badge
#
#}

{% set bg = get_color_by_slug(backgroundColor, customBackgroundColor) %}
{% set secondary = get_color_by_slug(secondaryColor, customSecondaryColor) %}

{% set classList = [
	"card",
	image.url ? 'card--image-' ~ imagePosition : 'card--no-image',
	shadow ? 'card--shadow',
	isFirst ? "card--first",
	isLast ? "card--last",
	url ? "card--hover",
	"card--" ~ textAlign,
	bg.light ? (bg.light ? "light" : "dark") : "card" ~ backgroundColor
	
]|join(" ") %}

{% set imageUrl = image.sizes.large ? image.sizes.large.url : image.url %}

<div style="background: {{bg.color}}; color: var(--{{backgroundColor}}-contrast);" class="{{classList}}">
	

    {% if badge %}<b class="card__badge" style="background: var(--{{secondaryColor}}); color: var(--{{secondaryColor}}-contrast)">{{ badge }}</b>{% endif %}
	
    {% if image.url %}
        {% if image.subtype == 'svg+xml' %}
            <figure class="card__svg" style="height: {{imageWidth}}%; width: {{imageWidth}}%;" >
                {{ source(function('wp_get_original_image_path', image.id), ignore_missing = true) }}
            </figure>
        {% else %}
            <div class="card__image">
                <img loading="lazy" src="{{imageUrl}}" alt="{{image.description ?: image.title}}">
				{% if url %}<a class="card__hidden-link" href={{url}}></a>{% endif %}
            </div>
        {% endif %}
    {% endif %}
   
    <div class="card__content">
		{% if url %}<a class="card__hidden-link" href={{url}}></a>{% endif %}
        {% if label %}<span class="card__label" style="background: var(--{{secondaryColor}}); color: var(--{{secondaryColor}}-contrast)"><span>{{ label }}</span></span>{% endif %}
        {{content|raw}}
    </div>
</div>