{% set oc = get_color_by_slug(overlayColor, customOverlayColor) %}

<div class="cover {{className}}" style="min-height: {{minHeight}}{{minHeightUnit}}; {{style}}">
	
	<img data-u-wrapper-class="cover__parallax" class="cover__image {{hasParallax ? "has-parallax"}}" src={{url}} style="object-fit: cover; object-position: {{focalPoint.x*100}}% {{focalPoint.y*100}}%;" />
	<div class="cover__overlay" style="background-color: {{oc.color}}; opacity: {{overlayOpacity}}%;"></div>
	<div class="cover__content position--{{contentPosition|replace({' ':'-'})}}">
	{{ content }}
	</div>
</div>
