{#
# Description-Item Block template	 
#
# Attributes
#
# string	titel
# object	image
# string	icon
# string	urlIcon
# string	contentType
# bool		roundImage
# bool		seperationLines
#
#}

{% set bg = get_color_by_slug(iconBackgroundColor ?? "white", customIconBackgroundColor) %}
{% set fg = get_color_by_slug(iconColor ?? "white", customIconColor) %}


<div style="{{style}}" class="{{className}} description__item">
    <div class="description__image" style="background: {{bg.color}}; color: {{fg.color}}; {{roundImage ? " border-radius: 999px !important"}}">
		{% if icon %}<i class="description__icon material-icons">{{icon}}</i>{% endif %} 
		{% if image %}
        	<img src="{{image.sizes.thumbnail.url}}" alt="{{image.description ?: image.title}}">  
    	{% endif %}
    </div>
    <div class="description__text">
        {% if title %}<div class="description__title">{{title}}</div>{% endif %}
         {% if text %}<div class="description__data">
            {% if contentType == "schedule" %}{{text|date("G:h")}}
            {% elseif contentType == "today" %}{{text|date("d.M. Y")}}
            {% else %}{{text}}{% endif %}

        </div>{% endif %} 
    </div>
    {% if url %}
    <div class="description__action">
        <a href="{{url}}"><i class="material-icons">{{urlIcon}}</i></a>
    </div>
    {% endif %}
</div>



 