<dl class="description-item">
    {% if icon %}<i class="material-icons">{{icon}}</i>
    {% else %}
        {% if image.subtype == 'svg+xml' %}
            <figure>
            {{ source(function('wp_get_original_image_path', image.id), ignore_missing = true) }}
            </figure>
        {% else %}
            <img src="{{image.sizes.thumbnail.url}}">
        {% endif %}
    {% endif %}
    <div class="description-text">
        {% if title %}<dt>{{title}}</dt>{% endif %}
         {% if text %}<dd>{{text}}</dd>{% endif %}
    </div>
</dl>


