<div class="grid-row 
    {{equalizer ? "equalizer" : ""}} 
    grid grid-cols-{{childrenWidthSmall}} 
    md:grid-cols-{{childrenWidthMedium}} 
    xl:grid-cols-{{childrenWidthLarge}} 
    {{ autoFlow ? "lg:grid-flow-" ~ autoFlowDirection }}{{ autoFlowDense ? "-dense" }}
    {{ autoFlow ? " lg:grid-rows-" ~ autoFlowRows }}
"
style="gap: {{0.25 * gapSize}}rem;">
    {{content|raw}}
</div>