{%- set gaps = ['0', '1','2','3','4','5','6','8','10','12', '16', '20']  -%}

<div class="{{equalizer ? "equalizer" : ""}} grid grid-cols-{{childrenWidthSmall}} md:grid-cols-{{childrenWidthMedium}} lg:grid-cols-{{childrenWidthLarge}} gap-{{gaps[gapSize]}}">{{content|raw}}</div>