<div class="grid 
    {{equalizer ? "equalizer" : ""}} 
    grid--columns-{{childrenWidthSmall}} 
    md:grid--columns-{{childrenWidthMedium}} 
    xl:grid--columns-{{childrenWidthLarge}} 
    grid--gap-12
">
    {{content|raw}}
</div>