<div class="
    grid__column
    grid__column--span-{{widthSmall}} 
    md:grid__column--span-{{widthMedium}} 
    xl:grid__column--span-{{widthLarge}}
    grid--order-{{mobilePosition}}
">
{{content|raw}}
</div>