{#
# Grid-Row Block template	 
#
# Attributes
#
# integer	childrenWidthSmall
# integer	childrenWidthMedium
# integer	childrenWidthLarge
# integer	gapSize
# bool		divider
# bool		equalizer
# bool		flowColumns
#
#}

<div style="{{ style.margin }}" class="grid 
    {{equalizer ? "equalizer" : ""}} 
    grid--columns-{{childrenWidthSmall}} 
    md:grid--columns-{{childrenWidthMedium}} 
    xl:grid--columns-{{childrenWidthLarge}} 
    grid--gap-12
	{{className}}
">
    {{content|raw}}
</div>