{% if image.subtype == 'svg+xml' %}
  <figure style="width: {{width}}%; {{alignment == "center" ? "margin: auto"}}">
    {{ source(function('wp_get_original_image_path', image.id), ignore_missing = true) }}
  </figure>
{% else %}
<div x-data="{}" style="{{ flip ? 'transform: scaleX(-1);' }}" class="text-{{alignment}} image relative">
    {% if hasLightbox %}
      <a @click="$dispatch('img-modal', { imgModal : true,  imgModalSrc: '{{image.url}}'})" class="cursor-pointer">
    {% endif %}
        <img style="width: {{width}}%; {{shadow ? "box-shadow: 0px 1px 6px rgba(0,0,0,0.3)"}}" alt="{{image.description}}" class="{{border ? "border-8 border-white"}} object-fit inline-block {{round ? "rounded-full"}} {{roundCorners ? "rounded-tl-md rounded-br-md lg:rounded-tl-lg lg:rounded-br-lg" }}" src="{{round ? image.sizes.qlarge.url : image.url}}">
    {{ hasLightbox ? "</a>" : "" }}
</div>
{% endif %}