{% if dataType == "pages" %}
<ul class="nav">
    {% for item in data %}
        <li>
            
            <a 
                class="
                    {% if function("get_the_ID") == item.ID %}text-blue{% endif %} 
                    {{ isPrimary ? "text-xl" }}
                    block flex items-center px-2 py-1
                "               
                href="{{ function("get_permalink", item.ID) }}"
            >
                {% if showIcons %}
                <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <path style="{% if function("get_the_ID") == item.ID %}fill: var(--primary);{% endif %}" d="M4.977,2.692C4.646,2.529 4.418,2.188 4.418,1.794C4.418,1.243 4.866,0.794 5.418,0.794C5.78,0.794 6.111,0.939 6.387,1.233C6.556,1.414 6.685,1.74 6.842,1.919C7.121,2.238 7.411,2.494 7.756,2.72C8.044,2.909 8.291,3.183 8.594,3.341C9.413,3.769 10.04,4.514 10.729,5.134C11.579,5.899 12.493,6.602 13.353,7.366C13.521,7.516 13.748,7.648 13.899,7.798C14.134,8.034 14.448,8.376 14.654,8.581C14.921,8.848 15.002,9.16 14.95,9.492C14.917,9.704 14.624,10.131 14.624,10.131C14.624,10.131 14.681,10.059 14.695,10.039C14.651,10.104 14.546,10.233 14.52,10.264C14.321,10.651 13.977,11.063 13.675,11.366C13.434,11.607 13.277,11.987 13.069,12.265C12.853,12.553 12.682,12.855 12.454,13.16C12.308,13.354 12.105,13.526 11.971,13.718C11.817,13.94 11.607,14.272 11.382,14.497C10.947,14.932 10.35,15.224 9.874,15.606C9.793,15.67 9.745,15.759 9.685,15.836C9.567,15.985 9.44,16.126 9.286,16.249C9.012,16.469 8.699,16.635 8.406,16.831C8.266,16.924 8.144,17.067 8.02,17.183C7.935,17.262 7.85,17.335 7.764,17.399L7.709,17.574C7.63,17.81 7.34,18.292 7.073,18.599C6.925,18.768 6.772,18.893 6.651,18.969C6.448,19.162 6.162,19.376 5.893,19.376C5.342,19.376 4.893,18.928 4.893,18.376C4.893,18.042 5.058,17.746 5.31,17.565C5.397,17.456 5.502,17.341 5.604,17.271L5.59,17.279C5.572,17.292 5.554,17.304 5.536,17.316L5.821,16.913C5.882,16.727 5.99,16.388 6.115,16.205C6.247,16.01 6.409,15.882 6.565,15.804C6.652,15.76 6.721,15.657 6.81,15.572C6.964,15.424 7.127,15.28 7.296,15.167C7.542,15.003 7.807,14.871 8.037,14.687C8.115,14.624 8.161,14.536 8.222,14.46C8.34,14.311 8.468,14.169 8.624,14.044C9.045,13.707 9.584,13.467 9.968,13.083C10.111,12.939 10.231,12.717 10.33,12.576C10.476,12.365 10.694,12.173 10.854,11.96C11.082,11.655 11.253,11.353 11.469,11.065C11.731,10.715 11.957,10.255 12.261,9.951C12.408,9.804 12.583,9.618 12.697,9.43C12.623,9.353 12.55,9.278 12.484,9.212C12.359,9.087 12.164,8.986 12.024,8.861C11.161,8.094 10.245,7.389 9.391,6.62C8.825,6.111 8.34,5.465 7.667,5.113C7.307,4.925 7.002,4.617 6.659,4.392C6.161,4.065 5.74,3.697 5.337,3.236C5.234,3.118 5.066,2.843 4.977,2.692ZM6.744,18.877C6.846,18.776 6.931,18.665 6.931,18.665C6.931,18.665 6.859,18.758 6.744,18.877Z"/>
                </svg>
                {% endif %}
                <span class="inline-block">{{item.post_title}}</span>
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}

{% if dataType == "posts" %}
<ul class="nav">
    {% for item in data %}
        <li>
            
            <a 
                class="
                    {% if function("get_the_ID") == item.ID %}text-blue{% endif %} 
                    {{ isPrimary ? "text-xl" }}
                    block flex items-center px-2 py-1
                "            
                href="{{ function("get_permalink", item.ID) }}"
            >
                {% if showIcons %}
                <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <path style="{% if function("get_the_ID") == item.ID %}fill: var(--primary);{% endif %}" d="M4.977,2.692C4.646,2.529 4.418,2.188 4.418,1.794C4.418,1.243 4.866,0.794 5.418,0.794C5.78,0.794 6.111,0.939 6.387,1.233C6.556,1.414 6.685,1.74 6.842,1.919C7.121,2.238 7.411,2.494 7.756,2.72C8.044,2.909 8.291,3.183 8.594,3.341C9.413,3.769 10.04,4.514 10.729,5.134C11.579,5.899 12.493,6.602 13.353,7.366C13.521,7.516 13.748,7.648 13.899,7.798C14.134,8.034 14.448,8.376 14.654,8.581C14.921,8.848 15.002,9.16 14.95,9.492C14.917,9.704 14.624,10.131 14.624,10.131C14.624,10.131 14.681,10.059 14.695,10.039C14.651,10.104 14.546,10.233 14.52,10.264C14.321,10.651 13.977,11.063 13.675,11.366C13.434,11.607 13.277,11.987 13.069,12.265C12.853,12.553 12.682,12.855 12.454,13.16C12.308,13.354 12.105,13.526 11.971,13.718C11.817,13.94 11.607,14.272 11.382,14.497C10.947,14.932 10.35,15.224 9.874,15.606C9.793,15.67 9.745,15.759 9.685,15.836C9.567,15.985 9.44,16.126 9.286,16.249C9.012,16.469 8.699,16.635 8.406,16.831C8.266,16.924 8.144,17.067 8.02,17.183C7.935,17.262 7.85,17.335 7.764,17.399L7.709,17.574C7.63,17.81 7.34,18.292 7.073,18.599C6.925,18.768 6.772,18.893 6.651,18.969C6.448,19.162 6.162,19.376 5.893,19.376C5.342,19.376 4.893,18.928 4.893,18.376C4.893,18.042 5.058,17.746 5.31,17.565C5.397,17.456 5.502,17.341 5.604,17.271L5.59,17.279C5.572,17.292 5.554,17.304 5.536,17.316L5.821,16.913C5.882,16.727 5.99,16.388 6.115,16.205C6.247,16.01 6.409,15.882 6.565,15.804C6.652,15.76 6.721,15.657 6.81,15.572C6.964,15.424 7.127,15.28 7.296,15.167C7.542,15.003 7.807,14.871 8.037,14.687C8.115,14.624 8.161,14.536 8.222,14.46C8.34,14.311 8.468,14.169 8.624,14.044C9.045,13.707 9.584,13.467 9.968,13.083C10.111,12.939 10.231,12.717 10.33,12.576C10.476,12.365 10.694,12.173 10.854,11.96C11.082,11.655 11.253,11.353 11.469,11.065C11.731,10.715 11.957,10.255 12.261,9.951C12.408,9.804 12.583,9.618 12.697,9.43C12.623,9.353 12.55,9.278 12.484,9.212C12.359,9.087 12.164,8.986 12.024,8.861C11.161,8.094 10.245,7.389 9.391,6.62C8.825,6.111 8.34,5.465 7.667,5.113C7.307,4.925 7.002,4.617 6.659,4.392C6.161,4.065 5.74,3.697 5.337,3.236C5.234,3.118 5.066,2.843 4.977,2.692ZM6.744,18.877C6.846,18.776 6.931,18.665 6.931,18.665C6.931,18.665 6.859,18.758 6.744,18.877Z"/>
                </svg>
                {% endif %}
                <span class="inline-block">{{item.post_title}}</span>
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}

{% if dataType == "categories" %}
<ul class="nav">
    {% for item in data %}
        <li>
            
            <a 
                class="{% if function("get_query_var",'cat') == item.cat_ID %}text-blue{% endif %} block flex items-center px-2 py-1"            
                href="{{ function("get_category_link", item.cat_ID) }}"
            >
                {% if showIcons %}
                <svg class="mr-2" width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <path style="{% if function("get_the_ID") == item.ID %}fill: var(--primary);{% endif %}" d="M4.977,2.692C4.646,2.529 4.418,2.188 4.418,1.794C4.418,1.243 4.866,0.794 5.418,0.794C5.78,0.794 6.111,0.939 6.387,1.233C6.556,1.414 6.685,1.74 6.842,1.919C7.121,2.238 7.411,2.494 7.756,2.72C8.044,2.909 8.291,3.183 8.594,3.341C9.413,3.769 10.04,4.514 10.729,5.134C11.579,5.899 12.493,6.602 13.353,7.366C13.521,7.516 13.748,7.648 13.899,7.798C14.134,8.034 14.448,8.376 14.654,8.581C14.921,8.848 15.002,9.16 14.95,9.492C14.917,9.704 14.624,10.131 14.624,10.131C14.624,10.131 14.681,10.059 14.695,10.039C14.651,10.104 14.546,10.233 14.52,10.264C14.321,10.651 13.977,11.063 13.675,11.366C13.434,11.607 13.277,11.987 13.069,12.265C12.853,12.553 12.682,12.855 12.454,13.16C12.308,13.354 12.105,13.526 11.971,13.718C11.817,13.94 11.607,14.272 11.382,14.497C10.947,14.932 10.35,15.224 9.874,15.606C9.793,15.67 9.745,15.759 9.685,15.836C9.567,15.985 9.44,16.126 9.286,16.249C9.012,16.469 8.699,16.635 8.406,16.831C8.266,16.924 8.144,17.067 8.02,17.183C7.935,17.262 7.85,17.335 7.764,17.399L7.709,17.574C7.63,17.81 7.34,18.292 7.073,18.599C6.925,18.768 6.772,18.893 6.651,18.969C6.448,19.162 6.162,19.376 5.893,19.376C5.342,19.376 4.893,18.928 4.893,18.376C4.893,18.042 5.058,17.746 5.31,17.565C5.397,17.456 5.502,17.341 5.604,17.271L5.59,17.279C5.572,17.292 5.554,17.304 5.536,17.316L5.821,16.913C5.882,16.727 5.99,16.388 6.115,16.205C6.247,16.01 6.409,15.882 6.565,15.804C6.652,15.76 6.721,15.657 6.81,15.572C6.964,15.424 7.127,15.28 7.296,15.167C7.542,15.003 7.807,14.871 8.037,14.687C8.115,14.624 8.161,14.536 8.222,14.46C8.34,14.311 8.468,14.169 8.624,14.044C9.045,13.707 9.584,13.467 9.968,13.083C10.111,12.939 10.231,12.717 10.33,12.576C10.476,12.365 10.694,12.173 10.854,11.96C11.082,11.655 11.253,11.353 11.469,11.065C11.731,10.715 11.957,10.255 12.261,9.951C12.408,9.804 12.583,9.618 12.697,9.43C12.623,9.353 12.55,9.278 12.484,9.212C12.359,9.087 12.164,8.986 12.024,8.861C11.161,8.094 10.245,7.389 9.391,6.62C8.825,6.111 8.34,5.465 7.667,5.113C7.307,4.925 7.002,4.617 6.659,4.392C6.161,4.065 5.74,3.697 5.337,3.236C5.234,3.118 5.066,2.843 4.977,2.692ZM6.744,18.877C6.846,18.776 6.931,18.665 6.931,18.665C6.931,18.665 6.859,18.758 6.744,18.877Z"/>
                </svg>
                {% endif %}
                <span class="inline-block">{{item.name}}</span>
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}