<div class="progress shadow w-full bg-{{colorBackground}}">
    <div class="text-right bg-{{colorBar}} text-xs leading-none py-1 text-center text-white" style="width: {{percent}}%">
        <span class="inline-block pr-2">{{percent}}%</span>
    </div>
</div>
<span>
    {{title}}
</span>