{% set bg = get_color_by_slug(backgroundColor) %}
{% set paddings = ['0', '1', '2', '3', '4', '5', '6', '8', '10', '12', '16', '20'] %}

<section style="background-color: {{bg.color}}; {% if backgroundImage %} background-color: {{bg.color}}; overflow: hidden; background-image: url('{{backgroundImage.sizes.full.url}}');{% endif %}"
class="section  pt-{{paddings[paddingTop]}} pb-{{paddings[paddingBottom]}} bg-{{backgroundColor}} text-{{textAlignment}} bg-cover bg-center {{bg.brightness}}">
    <div class="content">{{ content|raw }}</div>
</section>