{% set bg = get_color_by_slug(backgroundColor) %}
<section 
    style="background-color: var(--{{backgroundColor}});
    color: var(--{{backgroundColor}}-contrast);
    {% if backgroundImage %} background-color: {{bg.color}};  
        background-image: url('{{backgroundImage.sizes.full.url}}');
    {% endif %}
    padding-top: {{paddingTop * 0.5}}rem;
    padding-bottom: {{paddingBottom * 0.5}}rem;
    text-align: {{textAlignment}};
    "
    class="section {{ not bg or bg.light ? "light" : "dark" }} section--{{backgroundColor}}">
    <div class="content">{{ content|raw }}</div>
</section>