{% set bg = get_color_by_slug(backgroundColor) %}

<section 
    style="background-color: {{bg.color}}; 
    {% if backgroundImage %} background-color: {{bg.color}}; 
        overflow: hidden; 
        background-image: url('{{backgroundImage.sizes.full.url}}');
    {% endif %}
    padding-top: {{paddingTop * 0.5}}rem;
    padding-bottom: {{paddingBottom * 0.5}}rem;
    text-align: {{textAlignment}};
    "
class="section {{bg.brightness ? bg.brightness : "light"}}">
    <div class="content">{{ content|raw }}</div>
</section>